@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color-primary: #4b8ced;
    --color-secondary: #FFF9EB;
    --color-tertiary: #C4C4C4;
    --color-button: #fe652b;
    --color-button-hover: #e55720;
    --color-text: #444444;
    --color-white: #FFFFFF;

    /* Botón restart*/
    --color-button-background: hsla(0, 0%, 10%, 0.1);
}

/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

/* Banner */
.header-banner {
    flex: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0 0;
}

/* Sección de entrada */
.input-section {
    flex: 60%;
    background-color: var(--color-secondary);
    border: 1px transparent;
    border-radius: 64px 64px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;

    background-image: linear-gradient(180deg, #b5b5b5cf 30%, transparent 70%);
    
}

/* Títulos */
.main-title {
    font-size: 48px;
    font-family: "Roboto", serif;
    font-weight: 900;
    font-style: italic;
    color: var(--color-white);
}

/*Imagen*/
.image-amigo{
    width: 200px;
}

.section-title {
    font-family: "Inter", serif;
    font-size: 36px;
    font-weight: 700;
    color: var(--color-primary);
    margin: 10px 0;
    text-align: center;
}

/* Contenedores de entrada y botón */
.input-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
}

.input-name {
    width: 100%;
    padding: 10px;
    border: 2px solid #aaaaaa;
    border-radius: 25px 0 0 25px;
    font-size: 16px;

    
    /*Degradado*/
    
	background-image: linear-gradient(180deg, #a2a2a2 30%, transparent 70%);
	background-position: center 45%;
	background-size: 100% 300%;
    transition: backdrop-filter 0.4s ease, color 0.4s ease, box-shadow 0.4s ease;

}

.input-name:hover{
    color: var(--color-text);
    backdrop-filter: blur(0px);
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
}

.input-name:focus{
  /*Elimina linea negra de input*/
  outline: none;
}


/* Texto de advertencia */
.p-mensaje{
    font-size: 20px;
    color: #e90d2e;
    justify-content: center;
    padding: 15px;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.button-container {
    width: 300px;
    justify-content: center;
    display: flex;
    align-items: center;
}

/* Estilos de entrada de texto */
.input-title {
    flex: 1;
    padding: 10px 15px;
    font-size: 16px;
    border: 2px solid #333;
    border-right: none;
    border-radius: 25px 0 0 25px;
    font-family: "Merriweather", serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Estilos de botón */
button {
    padding: 15px 30px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    border: 2px solid #000;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.button-add {
    background-color: var(--color-button-background);
    color: var(--color-text);
    border-radius: 0 25px 25px 0;

    /*Transparencia de botón*/
    border: 2px solid #aaaaaa;
    backdrop-filter: blur(8px);
    /*Degradado*/
	background-image: linear-gradient(180deg, #a2a2a2 30%, transparent 70%);
	background-position: center 45%;
	background-size: 100% 200%;
    /*Transición suave*/
    transition: backdrop-filter 0.4s ease, background-color 0.4s ease, color 0.4s ease, box-shadow 0.4s ease;
}

.button-add:hover {
    background-color: #a1a1a1;

    color: var(--color-white);
    backdrop-filter: blur(0px);
}

/* Listas */
ol {
    color: var(--color-text);
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    margin: 0px 0px;
}

/* Botón de sortear título */
.button-draw {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 40px;
    color: var(--color-text);
    background-color: var(--color-button-background);
    font-size: 16px;

    /*Transparencia de botón*/
    border: 2px solid rgb(243, 183, 99);
    border-radius: 1rem;
    backdrop-filter: blur(8px);
    /*Degradado*/
	background-image: linear-gradient(180deg, #ff8c44 30%, transparent  70%);
	background-position: center 45%;
	background-size: 100% 200%;
    /*Transición suave*/
    transition: backdrop-filter 0.4s ease, background-color 0.4s ease, color 0.4s ease, box-shadow 0.4s ease;
}

.button-draw img {
    margin-right: 40px;
}

.button-draw:hover {
    background-color: var(--color-button-hover);

    backdrop-filter: blur(0px);
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
    color: var(--color-white);
}

/*Botón restart*/
.button-restart{
    display: flex;
    align-items: center;
    width: 100%;
    /*Tamaño botón*/
    padding: 20px 18px;
    /*Separamos del otro botón*/
    margin: 20px;
    color: var(--color-text);
    white-space: nowrap;
    /*Transparencia de botón*/
    background-color: var(--color-button-background);
    border: 2px solid white;
    margin-inline: 1.5rem;
    border-radius: 1rem;
    backdrop-filter: blur(8px);
    /*Degradado*/
	background-image: linear-gradient(180deg, #80a8ff 30%, transparent 70%);
	background-position: center 45%;
	background-size: 100% 200%;
    /*Transición suave*/
    transition: backdrop-filter 0.4s ease, background-color 0.4s ease, color 0.4s ease, box-shadow 0.4s ease;

}

.button-restart:hover{
  color: var(--color-white);
  background-color: var(--color-primary);
  backdrop-filter: blur(0px);
  box-shadow: 0 0 15px rgba(0,0,0,0.4);
}
